@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300;1,400;1,500;1,600&display=swap");
$blue: #29d9d5;
$black: #111;
$white: #fff;
$light-color: #aaa;
$bg-color: #222;
$black-bg: rgba(17, 17, 17, 0.7);
$border: 0.2rem solid $blue;

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 1.5rem;
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
.heading {
  text-align: center;
  margin-bottom: 2rem;

  span {
    color: $blue;
    font-size: 2rem;
    font-weight: bold;
  }
  h1 {
    font-size: 4rem;
    color: $white;
    margin-top: 0.5rem;
    font-weight: bolder;
  }
}

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
  scroll-padding-top: 9rem;

  &::-webkit-scrollbar {
    width: 1rem;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: $black;
  }
  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 10px;
  }
}
body {
  background: $black;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: $blue;
  border: $border;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
  font-weight: 700;
  &:hover {
    background: $blue;
    color: $black-bg;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;

  .navbar a {
    font-size: 1.7rem;
    color: $light-color;
    display: inline-block;
    margin: 0 1rem;
    font-weight: 800;
    &:hover {
      color: $black;
    }
  }
}
.logo {
  font-size: 2.5rem;
  color: $white;
  font-weight: bolder;

  i {
    color: $blue;
    padding-right: 0.5rem;
  }
}
#menu-btn {
  font-size: 2.5rem;
  color: $white;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 10rem;
  width: 90%;
  border-radius: 1rem;
  background: linear-gradient($black-bg, $black-bg),
    url("https://res.cloudinary.com/dpzrxnav1/image/upload/v1639422846/test/3120654_cexgfb.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;

    span {
      font-weight: bolder;
      color: transparent;
      -webkit-text-stroke: 0.1rem $white;
      font-size: 4vw;
      display: block;
    }

    h3 {
      font-size: 6vw;
      color: $white;
    }

    p {
      max-width: 60rem;
      margin: 1rem auto;
      font-size: 1.5rem;
      color: $light-color;
      font-weight: 700;
      line-height: 2;
    }
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .btn {
    margin-top: 0;
  }
  #menu-btn {
    display: inline-block;
  }
  .header {
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $bg-color;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      &:active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }

      a {
        margin: 2rem;
        font-size: 2rem;
        display: block;
      }
    }
  }
}
.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%) !important;
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: $bg-color;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);

  form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-weight: 800;

    .inputBox {
      flex: 1 1 15rem;

      span {
        font-size: 1.4rem;
        color: $light-color;
      }

      input {
        width: 100%;
        padding: 1.2rem 1.4rem;
        border-radius: 5rem;
        font-size: 1.6rem;
        border: $border;
        color: $light-color;
        text-transform: none;
        font-weight: 800;

        &::placeholder {
          font-weight: bolder;
        }
      }
    }

    .btn {
      flex: 1 1 15rem;
    }
  }
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;
  .video-container {
    flex: 1 1 42rem;
    video {
      border-radius: 1rem;
      width: 100%;
    }
  }

  .controls {
    text-align: center;
    padding: 2rem 0;

    span {
      display: inline-block;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      background: $white;
      cursor: pointer;
      margin: 0.7rem;

      &:hover {
        background: $blue;
      }
    }
  }

  .content {
    flex: 1 1 42rem;
    margin-bottom: 5rem;
    span {
      color: $blue;
      font-size: 2rem;
      font-weight: 800;
    }
    h3 {
      color: $white;
      font-size: 4rem;
      margin-top: 0.5rem;
      font-weight: 800;
    }
    p {
      font-size: 1.5rem;
      color: $light-color;
      font-weight: 700;
      line-height: 2;
    }
  }
}

.destination {
  .box-container {
    @include grid(27rem);
  }
  .box {
    border-radius: 1rem;
    overflow: hidden;
    background: $bg-color;

    &:hover img {
      transform: scale(1.1);
    }
    .image {
      height: 20rem;
      overflow: hidden;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .content {
      padding: 2rem;
      text-align: center;

      h3 {
        font-size: 2rem;
        color: $white;
        font-weight: bold;
      }
      p {
        font-size: 1.5rem;
        color: $light-color;
        font-weight: 700;
        line-height: 1.5;
      }

      a {
        font-size: 1.7rem;
        color: $blue;
        font-weight: 800;
        &:hover i {
          padding-left: 1rem;
        }

        i {
          padding-right: 0.5rem;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .content h3 {
    font-size: 3.5rem;
  }
}
.services {
  .box-container {
    @include grid(32rem);

    .box {
      background: $bg-color;
      text-align: center;
      border-radius: 1rem;
      padding: 3rem 2rem;
      border: 0.2rem solid $black;

      &:hover {
        border: $border;
      }
      i {
        font-size: 5rem;
        color: $blue;
        margin-bottom: 1rem;
      }
      h3 {
        font-size: 2rem;
        color: $white;
      }
      p {
        color: $white;
        font-weight: 800;
      }
    }
  }
}
.gallery {
  .box-container {
    columns: 3 25rem;
    column-gap: 1.5rem;
  }
  .box {
    margin-bottom: 1rem;
    break-inside: avoid;

    img {
      width: 100%;
      border-radius: 1rem;
      margin-bottom: 1rem;
    }
    span {
      font-size: 1.4rem;
      color: $white;
    }
    h3 {
      margin-top: 0.5rem;
      font-size: 2rem;
      color: $white;
    }
  }
}
.blogs .box-container {
  @include grid(32rem);

  .box {
    border-radius: 1rem;
    background: $bg-color;
    overflow: hidden;
    &:hover {
      .images img {
        transform: scale(1.1);
      }
    }
    .images {
      height: 25rem;
      overflow: hidden;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.content {
  padding: 2rem;

  p {
    font-size: 1.5rem;
    color: $light-color;
    font-weight: 700;
    line-height: 1.5;
  }

  .link {
    font-size: 2rem;
    color: $white;

    &:hover {
      color: $blue;
    }
  }
  .icon {
    padding-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 800;
    a {
      font-size: 1.4rem;
      color: $light-color;

      &:hover {
        color: $blue;
      }

      i {
        padding-right: 0.5rem;
        color: $blue;
      }
    }
  }
}
.footer{
  .box-container{
    @include grid(25rem);

    .box{
      padding: 1rem 0;

      .logo{
        padding-bottom: 1rem;
        font-weight: 800;
      }
      h3{
        font-size: 2.2rem;
        color: $white;
        padding:1rem 0;
      }
      p{
        font-size: 1.4rem;
        font-weight: 700;
        color: $light-color;
        padding:1rem 0;
        line-height: 2;
      }
      .share{
        padding-top: 1rem;

        a{
          height: 4.5rem;
          width: 4.5rem;
          line-height: 4rem;
          font-size: 2rem;
          border-radius: 50%;
          border: $border;
          color: $blue;
          margin-right: .5rem;
          text-align: center;

          &:hover{
            background: $blue;
            color: $black;
          }
        }
      }

      .links{
        font-size: 1.4rem;
        color: $light-color;
        padding: 1rem 0;
        display: block;
        font-weight: 800;

        &:hover{
          color: $blue;


          i{
            padding-right: 2rem;
          }
        }
        i{
          padding-right: .5rem;
          color: $blue;
        }
      }
      form  .email{
        width: 100%;
        border-radius: 5rem;
        border: $border;
        background: none;
        font-size: 1.5rem;
        text-transform: none;
        color: $light-color;
        margin-top: 1rem ;
        padding: 1.2rem 1.4rem;
        &::placeholder{
          color: $light-color;
          font-weight: 800;
        }
      }
    }
  }
}

.credit{
  background: $black-bg;
  text-align: center;
  font-size: 2rem;
  padding: 3rem 2rem;
  color: $light-color;
  font-weight: 700;
  span{
    color: $blue;
    font-weight: 800;
  }
}