@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,300;1,400;1,500;1,600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 0.2s linear;
}
$blue: #29d9d5;
$black: #111;
$white: #fff;
$light-color: #aaa;
$bg-color: #222;
$black-bg: rgba(17, 17, 17, 0.7);
$border: 0.2rem solid $blue;

html {
  font-size: 62.5%;

  scroll-behavior: smooth;
  scroll-padding-top: 9rem;

  &::-webkit-scrollbar {
    width: 1rem;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-track {
    background: $black;
  }
  &::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 10px;
  }
}
body {
  background: $black;
  overflow-x: hidden;
}

section {
  padding: 3rem 9%;
}

.btn {
  margin-top: 1rem;
  display: inline-block;
  padding: 1rem 3rem;
  font-size: 1.7rem;
  color: $blue;
  border: $border;
  border-radius: 5rem;
  cursor: pointer;
  background: none;
  font-weight: 700;
  &:hover {
    background: $blue;
    color: $black-bg;
  }
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: $bg-color;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 9%;

  .navbar a {
    font-size: 1.7rem;
    color: $light-color;
    display: inline-block;
    margin: 0 1rem;
    font-weight: 800;
    &:hover {
      color: $black;
    }
  }
}
.logo {
  font-size: 2.5rem;
  color: $white;
  font-weight: bolder;

  i {
    color: $blue;
    padding-right: 0.5rem;
  }
}
#menu-btn {
  font-size: 2.5rem;
  color: $white;
  cursor: pointer;
  display: none;
}

.home {
  margin: 0 auto;
  margin-top: 10rem;
  width: 90%;
  border-radius: 1rem;
  background: linear-gradient($black-bg, $black-bg),
    url("https://res.cloudinary.com/dpzrxnav1/image/upload/v1639422846/test/3120654_cexgfb.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  min-height: 80vh;
  align-items: center;
  justify-content: center;

  .content {
    text-align: center;

    span {
      font-weight: bolder;
      color: transparent;
      -webkit-text-stroke: 0.1rem $white;
      font-size: 4vw;
      display: block;
    }

    h3 {
      font-size: 6vw;
      color: $white;
    }

    p {
      max-width: 60rem;
      margin: 1rem auto;
      font-size: 1.5rem;
      color: $light-color;
      font-weight: 700;
      line-height: 2;
    }
  }
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  .header {
    padding: 1.5rem;
  }
  section {
    padding: 3rem 2rem;
  }
}
@media (max-width: 768px) {
  .btn {
    margin-top: 0;
  }
  #menu-btn {
    display: inline-block;
  }
  .header {
    .navbar {
      position: absolute;
      top: 99%;
      left: 0;
      right: 0;
      background: $bg-color;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
      }
      a {
        margin: 2rem;
        font-size: 2rem;
        display: block;
      }
    }
  }
}
@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}
.book-form {
  width: 80%;
  margin: 1rem auto;
  margin-top: -5rem;
  background: $bg-color;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(17, 17, 17, 0.3);

  form {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    gap: 1.5rem;
    font-weight: 800;

    .inputBox {
      flex: 1 1 15rem;

      span {
        font-size: 1.4rem;
        color: $light-color;
      }

      input {
        width: 100%;
        padding: 1.2rem 1.4rem;
        border-radius: 5rem;
        font-size: 1.6rem;
        border: $border;
        color: $light-color;
        text-transform: none;
        font-weight: 800;

        &::placeholder {
          font-weight: bolder;
        }
      }
    }

    .btn {
      flex: 1 1 15rem;
    }
  }
}

.about {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
  margin-top: 5rem;

  .video-container {
    flex: 1 1 42rem;
    video {
      border-radius: 1rem;
      width: 100%;
    }
  }

  .controls {
    text-align: center;
    padding: 2rem 0;

    span {
      display: inline-block;
      height: 2rem;
      width: 2rem;
      border-radius: 50%;
      background: $white;
      cursor: pointer;
      margin: 0.7rem;

      %:hover {
        background: $blue;
      }
    }
  }

  .content {
    flex: 1 1 42rem;
    margin-bottom: 5rem;
    span {
      color: $blue;
      font-size: 2rem;
      font-weight: 800;
    }
    h3 {
      color: $white;
      font-size: 4rem;
      margin-top: 0.5rem;
      font-weight: 800;
    }
    p {
      font-size: 1.5rem;
      color: $light-color;
      font-weight: 700;
      line-height: 2;
    }
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }

  .about .content h3 {
    font-size: 3.5rem;
  }
}
